
.content{
    display:flex;
}
.left-tree{
    display:inline-block;
    width:30%;
    padding:20px 5px 20px 5px;
    overflow:auto;
}
.right-side{
    display:inline-block;
    width:100%;
    padding:20px 5px;
}

.video-box{
    text-align:center;
    padding:30px 0;
}