
移动端（Android iOS）怎么做好用体验？

清晰的视觉纵线
信息的分组、极致的减法
利用选择代替输入
标签及文字的排布方式
依靠明文确认密码
合理的键盘利用
在iPhone中的显示

现在的网页大多是按照宽度为800px左右的标准进行制作的，故Safari浏览器按照980px的宽度来显示，就可以正常显示绝大多数的网页了。

所以iPhone中的Safari浏览器也不会应用小尺寸窗口运行时的样式，也是选择窗口宽度为980px时所应用的样式。因此，可以加入meta标签来指定窗口宽度来显示。

<meta name='viewport' content='width=600px' />


@media (orientation: landscape) {/* 横屏 */
    #div1{
        background: #ff0000;
    }
}
@media (orientation: portrait) {/* 竖屏 */
    #div1{
        background: #00ff00;
    }
}


@media (max-width: 767px) {
    #div1{
        background: #0f0;
    }
}
@media (max-width: 480px) {
    #div1{
        background: #00f;
    }
}


@media (max-width: 959px) {
    h3{
        width: 100%;
    }
    section{
        width: 100%;
    }
    #left{
        width: 67%;
        /*margin-right: 3%;*/
    }
    #right{
        width: 30%;
    }
    figure{
        width: 100%;
    }
    figure img{
        width: 100%;
        max-width: 100%;
        min-width: 30%;
    }
}
@media (max-width: 480px) {
    #left, #right{
        width: 100%;
    }
}


$(function(){
function isPC(){
if(navigator.userAgent.indexOf("Mobile") != -1){
    return false;
}else{
     return true;
 }
}
var $div1 = $("#div1");


bootstrap中媒体查询中创建关键了3个分界点阈值：

超小屏幕 手机 (<768px)
小屏幕 平板 (≥768px)
中等屏幕 桌面显示器 (≥992px)
大屏幕 大桌面显示器 (≥1200px)
