<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        名： <input type="text" ng-model="firstName"> <br/>
        姓： <input type="text" ng-model="lastName"> <br/>
        <br/>
        <p>姓名：{{firstName + " " +lastName}}</p>
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope){
            $scope.firstName = 'John';
            $scope.lastName = 'Doe';
        })
    </script>
</body>
</html>