切图小总结：
1，box-shadow: [ 左右阴影，如果是正，就在右边，负就在左边] [ 上下阴影，为正则在下边，为负则在上边]  [阴影扩散面积]，如果加上inset,这些属性反过来。
2，display: table,table-cell,父元素使用display: table;子元素使用display: table-cell,
vertical-align: middle;可以让子元素垂直居中。
3，vertical-align: middle，这个属性可以用在表格中，使单元格内容垂直居中，此外，第二种用法，
假设有两个行内元素a和b，a和b都是img，当a加了一个vertical-align:middle样式之后，b的底部（基线）就会对齐a的中间位置，如下图：

如果a和b都加了一个vertical-align:middle样式，那么就互相对齐了对方的中间位置，也就是它们在垂直方向上的中线对齐了，如下图：

所以，如果要使一个元素垂直居中，比如这个img,我可以在div里面加一个span空标签，把它的高度设为100%，再给它一个vertical-align:middle样式，同样地给
img一个vertical-align:middle样式，那么img就可以在div里面垂直居中了。如图：


4，display:inline-block，使用这个属性后，元素之间会有几个像素的间隙，如何去除这个间隙呢，
第一种方法：给它的父元素设置font-size:0; 子元素字体正常；
第二种方法：去掉HTML中的空格；
第三种方法：设置letter-spacing和word-spacing，margin。
5，要做到所有元素可控，比如一些特殊符号，可以用伪类写，也可以用样式写。
还有就是小三角的写法，小箭头的实体符号，向下的箭头：&darr; 向上的箭头：&uarr;
'>'这个符号：&gt;这是HTML里的符号，CSS里会不同；



伪类元素：

有时候表单右边的小三角可以用伪类元素去做，但这时候给input(type=text) 添加伪类元素是加不上的（但是type=checkbox在chrome下可以，在火狐下不行），
解决办法可以在input外面加一层span，然后在span上添加伪类。



1.  act里面有个minAjax,它不会自动对请求的URL进行encodeURIComponent,然后在获取微信配置的时候，需要手动encodeURIComponent一下，不然wx.config会出错.



水平居中：
text-align:center;
margin:0 auto;（父元素设，子元素必须有固定宽度）
垂直居中：
line-height:height;//文字垂直居中；
居中：
父元素：position：relative;
子元素：position：absolute；
top:50%;
margin-top:-子元素高度的一半;
left:50%;
margin-left:-子元素宽度的一半;





2017年8月1号，针对7月在皇包车实习期间的项目问题总结
1.hbc-act的亲子活动，familyDay
（1）背景图太大，不能全切
（2）正常的图片都压缩一下，https://tinypng.com/
（3）在使用粘性布局的时候，特别是iOS，会出现滚动停止时才能继续执行所有js,当滚动时，会暂停所有js执行；
（4）有需要自己写的三角形，可以用三个border来写，因为角是45度平分的，然后给两个设置透明，比如：
需要下面一个正三角：
span{
     border-left:5px solid transparent;
     border-bottom:5px solid red;
     border-right:5px solid  transparent ;
}，这样的话就可以了，然后可以用伪元素的方式放到自己想要放的位置！
（5）a.swiper插件
         b.swiper插件的图片懒加载
               首先，在index.js中引入我们的const swiper=require('widgets/swiper/swiper.min.js');
然后，在需要懒加载图片的地方，举个例子（我们皇包车的例子）：
写上<img data-src="<%= guides[g].pic%>"   class="swiper-lazy">！！！
<div class="swiper-container">
    <div class="swiper-wrapper">
        <% for(var g=0;g< guides.length;g++){%>
        <div class="swiper-slide">
            <div class="imgbox J-guide" data-guideId="<%= guides[g].guideId%>">
                <img data-src="<%= guides[g].pic%>"   class="swiper-lazy">
                <span class="user"><%= guides[g].name%></span>
                <span class="commit">评价：<%= guides[g].comments%></span>
            </div>
            <p  class="paragraph"><span>“</span><%= guides[g].cont%><span  class='username'>——客人<%= guides[g].userName%></span></p>
        </div>
        <%}%>
    </div>
</div>
         c.正常页面的图片懒加载：
               之前我们在用背景图的时候都是background：url（）  no-repeat;
                 background-size:contain/cover/大小等;background-position:center;
           现在我们使用图片的懒加载，就需要直接写：
                 background-repeat:no-repeat;
                 background-size:cover/contain/大小;
                 background-position:center;
           然后，在需要懒加载图片的地方，举个例子(我们皇包车的例子)：
               <span  class="lazy-bg"  lazy-bg="<%= images.textimgimg%>"></span>，需要在index.js里引入我们的const util = require('widgets/util/index');
（6）再使用juicer的时候，其实是转换成字符串来解析的，所以声明变量的时候，最好不要使用let,最好用var,因为let是es6的语法，可能存在兼容性问题，还不会报错，找错误的时候不好找！
2.hbc-g  act_japan日本活动页面
(1)移动端盒子容易出现对不齐问题，可以加上box-sizing:border-box;
(2)div中上下间距相同，中间平分间距问题；
(3)二维码生成器
(4)单行文字后面如果有一半背景，可以切一个图，也可以background定位来实现；
多行文字，每行文字如果都有一个背景的话，我们可以切一点背景图片，然后沿着x和y方向平铺，切的高度正好是行高，然后配合定位来实现，只是在文字后面有背景，可以包一个span ，而不是一个块级元素；
(5)伪类和伪元素，一半中间加的点，两头加的横线，下班加的三角，我都用到了这个；
&：after{
content:'';
//可以设置css样式；
}
&：before{
content:'';
//可以设置css样式；
}
3.外边一层大div，有个中间线，然后盖住中间线问题
4.双边框问题，最好使用两个div，嵌套
5.移动端最好不要使用浮动，可以写宽度各种
6.绑定事件的时候：
可以是$(document).on("scroll",function(){

});
可以是$(document).on('scroll',()=>{

});
在我们的项目中，index.js里，可以是
that.dom.wrap.on('wrap',()=>{

});




     
